---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/foo/unsubscribers/mass_create
    body:
      encoding: UTF-8
      string: '{"email_list":{"1":["ben@example.com","george@example.com"]},"async":false,"validate_data":false}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      X-Yotpo-Token:
      - baz
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"format":"json","controller":"unsubscribers","action":"mass_create","app_id":"foo"}'
      Etag:
      - W/"3437f9bf67473f604ed73694fd56ed5b"
      X-Ratelimit-Remaining-Minute:
      - '4999'
      X-Ratelimit-Limit-Minute:
      - '5000'
      Ratelimit-Remaining:
      - '4999'
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Reset:
      - '56'
      Correlation-Id:
      - 6f5aa1f4-c098-49ed-8028-1d19555f6819
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":200,"message":"OK"},"response":{"unsubscribers":[{"id":147391614,"user_email":"ben@example.com","email_type_id":1,"unsubscirbed_by_name":"MODERATOR"},{"id":147391615,"user_email":"george@example.com","email_type_id":1,"unsubscirbed_by_name":"MODERATOR"}]}}'
  recorded_at: Mon, 06 Feb 2023 15:41:04 GMT
recorded_with: VCR 6.1.0
