---
http_interactions:
- request:
    method: delete
    uri: https://api.yotpo.com/apps/foo/unsubscribers/mass_delete?async=false&email_list%5B%5D%5B0%5D=ben@example.com&email_list%5B%5D%5B1%5D=george@example.com&validate_data=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      X-Yotpo-Token:
      - baz
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"format":"json","controller":"unsubscribers","action":"mass_delete","app_id":"foo"}'
      Etag:
      - W/"3437f9bf67473f604ed73694fd56ed5b"
      X-Ratelimit-Remaining-Minute:
      - '4999'
      X-Ratelimit-Limit-Minute:
      - '5000'
      Ratelimit-Remaining:
      - '4999'
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Reset:
      - '37'
      Correlation-Id:
      - 03b4ec88-642f-466e-9af5-e50352794a63
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":200,"message":"OK"},"response":{"unsubscribers":[{"id":147391614,"user_email":"ben@example.com","email_type_id":1,"unsubscirbed_by_name":"MODERATOR"},{"id":147391615,"user_email":"george@example.com","email_type_id":1,"unsubscirbed_by_name":"MODERATOR"}]}}'
  recorded_at: Mon, 06 Feb 2023 15:49:23 GMT
recorded_with: VCR 6.1.0
