---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/core/v3/stores/foo/orders/4091816088/fulfillments/1685681195
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      X-Yotpo-Token:
      - baz
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Limit:
      - '5'
      Ratelimit-Reset:
      - '1'
      Correlation-Id:
      - b3305101-a4fc-48c0-a23a-b4f7411f526f
    body:
      encoding: ASCII-8BIT
      string: '{"fulfillment":{"fulfillment_date":"2022-10-29T17:01:34","status":"success","shipment_info":{},"fulfilled_items":[{"external_product_id":"116072","quantity":1}],"external_id":"3000","id":1685681195,"created_at":"2022-11-29T22:15:17","updated_at":"2022-11-29T22:15:17","store_id":"foo","order_id":4091816088}}'
  recorded_at: Tue, 29 Nov 2022 22:23:57 GMT
recorded_with: VCR 6.1.0
